.contenue{
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    margin-top: 50px;
    height: 35rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.services{
    display: flex;
    justify-content: center;
    margin: 15px;
    
}


.service{
    border: 1px solid white;
    color: white;
    height: 20rem;
    width: 25%;
    margin: 15px;
    padding: 15px;
}
 
.img-service{
    padding: 15px;
    height: 10rem;
    width: 10rem;
}