.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.CarModels {
  margin: 20px;
}

.CarList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.CarCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.App-footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
}
